name: CI

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

  workflow_dispatch:

permissions:
  contents: read

env:
  NODE_VERION: 22
  REGISTRY: ghcr.io

jobs:
  commitlint:
    name: "Commitlint"
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Commitlint
        uses: wagoid/commitlint-github-action@v6
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          target: base
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: workflow-create-subtraction:base
  ruff-format:
    name: Ruff / Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install mise
        uses: jdx/mise-action@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync
      - name: Check formatting
        run: uv run ruff format --check . 
  ruff-lint:
    name: Ruff / Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install mise
        uses: jdx/mise-action@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
      - name: Set up Python
        run: uv python install
      - name: Install dependencies
        run: uv sync
      - name: Check linting
        run: uv run ruff check . 
  test:
    name: "Test"
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Install Mise
        uses: jdx/mise-action@v2
      - name: Test
        run: mise run test
  release:
    name: "Publish / Release"
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    needs: [test]
    permissions:
      contents: write
    outputs:
      git-tag: ${{ steps.semantic.outputs.git-tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
      - name: Install semantic-release
        run: npm i semantic-release@v24.2.5 @semantic-release/exec@v7.1.0 conventional-changelog-conventionalcommits@9.0.0
      - name: Run semantic-release
        id: semantic
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

  ghcr:
    name: "Publish / GHCR"
    runs-on: ubuntu-latest
    needs: [release]
    if: github.repository_owner == 'Virtool'
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.release.outputs.git-tag }}
      - name: Write VERSION file
        run: echo ${{ needs.release.outputs.git-tag }} > VERSION
      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          context: 'git'
          images: ${{ env.REGISTRY }}/virtool/create-subtraction
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          target: "base"
